@import url('https://fonts.googleapis.com/css?family=Merriweather|Poppins');
/*Header left: Focus --> Poppins*/
/*Header right: Helvetica Neue --> Merriweather*/
/*COLORS >> rectangles: #dadad2 , header/footer: #f5f5f5*/

/*------------------------------------------------------------- BODY -----------------------------------------------*/

html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, p, img {
    margin: 0px;
    padding: 0px;
}

h1, h4, h5, p {
    font-family: 'Merriweather', Serif ;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #a3a3a3;
}

.container {
    max-width: 593px;
    margin: 0px auto;
}


/*------------------------------------------------------------- HEADER -----------------------------------------------*/

header {
    margin-top: 80px;
    background-color: #f5f5f5;
    height: 60px;
}

.logo-pic {
    float: left;
    padding-top: 5px;
}

.logo {
    float: left;
    font-family: 'poppings', Serif;
    font-size: 25px;
    padding-top: 17px;
}

.header-line {
    float: right;
    font-size: 14px;
    padding: 28px 0px 6px 0px;
}

.header-line h4 {
    font-size: 13px;
}

.top-written {
    text-align: center;
    margin: 40px auto;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 4px;
    color: #eeeeee;
}

.top-written h1 {
    font-size: 20px;
}

/*------------------------------------------------------------- BANNER -----------------------------------------------*/

.banner-img {
    width: 100%;
}

.left-table {
    float: left;
    width: 49%;
}

.right-table {
    float: right;
    width: 49%;
}

.banner-left-img {
    width: 100%;
}

.banner-right-img {
    width: 100%;
}

.banner {
    font-size: 12px;
    font-family: 'Merriweather', Arial, serif;
    margin-top: 8px;
}

.banner-left-comment {
    margin-top: 7px;
    margin-bottom: 40px;
}

.banner-right-comment {
    margin-top: 7px;
    margin-bottom: 40px;
}

.banner-right-comment img, .banner-left-comment img {
    margin-top: 5px;
}

.line {
    padding-top: 15px;
    padding-bottom: 30px;
}

.line h5 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.line hr {
    color: #dadad2;
}

.line {
    margin-top: 5px;
}

/*------------------------------------------------------------- CASE -----------------------------------------------*/

.case {
    width: 30%;
    float: left;
    margin-right: 5%;
}

.case img {
    width: 100%;
}

.right-case {
    margin-right: 0px;
}

.case dt h5 {
    font-weight: bold;
}

.case-comment {
    margin: 15px 5% 40px auto;
}


/*------------------------------------------------------------- BOTTOM BANNER -----------------------------------------------*/

.bottom-button {
    text-align: center;
}

.bottom-banner-img {
    width: 100%;
}

.bottom-banner {
    margin-top: 30px;
}

.bottom-banner article {
    padding: 10px 15px 2px 7px;
}

.bottom-banner span a h5 {
    padding-left: 7px;
    color: #c5c5c5;
    text-decoration: underline;
}

/*------------------------------------------------------------- FOOTER -----------------------------------------------*/

footer {
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: #f5f5f5;
    height: 60px;
}

.footer-line {
    text-align: center;
    padding: 25px 0px 10px 0px;
}

.footer-line a {
    color: black;
}

/*-------------------------------------------------------------- CLEAR -----------------------------------------------*/
.clear { clear: both;}



/*-------------------------------------------------------------- MOBILE RESPONSIVE -----------------------------------------------*/
@media (max-width: 768px){
    .container {
        padding: 0px 10px;
    }



    .left-table, .right-table {
        float: none;
        width: 100%;
    }

    .case {
        width: 47.5%;
    }

    .left-case {
        margin-right: 2.5%;
    }

    .middle-case {
        margin-right: 0px;
        margin-left: 2.5%;
    }
}